@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");


@font-face {
  font-family: Inter var;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/fonts/inter-roman.woff2) format("woff2");
  font-named-instance: Regular
}

@font-face {
  font-family: Inter var;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/fonts/inter-italic.woff2) format("woff2");
  font-named-instance: Italic
}

:root {
  --header-bg: #111727;
  --nav: #9ca3af;
  --nav-active: #f3f4f6;
  --nav-bg: #6366f1;
}

body {
  // font-family: 'Inter', sans-serif;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  background: #f1f5f9;
}

/*
    1. Header
    2. Nav
	 3. User Profile Setting
    3. Text Logo
    4. Page Title Section
*/

/* Header */
header {
  background-color: var(--header-bg);
  padding: 6px 0;
  color: #fff;
  a {
    color: var(--nav-link);
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      width: 100%;
    }
  }
  .header-left-area {
    display: flex;
    align-items: center;
    
    @include media-breakpoint-down(lg) {
        width: 100%;
        justify-content: space-between;
    }

  }
  .header-right-area {
    text-align: right;
    display: none;
  }
  .separator > div:not(:last-child) {
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  header .header-right-area {
    display: block;
  }
}

/* Nav */
.nav {
  .nav-link {
    color: rgba(255, 255, 255, .7);
    border-radius: 6px;
    padding: 8px 18px;
    font-weight: 500;
	 font-size: 14px;
  }
  > ul > li:not(:last-child) {
    margin-right: 6px;
  }
  .nav-link.active {
    background-color: var(--nav-bg);
    color: var(--nav-active);
  }
  .nav-link:hover {
    color: var(--nav-active);
    background-color: var(--nav-bg);
  }
}

// User Profile Setting
.dropdown {
  .dropdown-toggle {
    color: var(--nav);
    text-decoration: none;
    display: flex;
    align-items: center;
    &.show,
    &:focus,
    &:hover {
      color: var(--nav-active);
    }
  }
  > .btn {
    padding: 0;
    > .user-profile-setting {
      padding: 0;
    }
  }
}
.dropdown-menu {
  hr {
    margin: 0.5rem 0;
  }
}

.user-profile-setting {
  display: flex;
  padding: 5px 10px;
  .avatar-thumb {
    padding-right: 10px;
    img {
      width: 40px;
      border-radius: 100%;
    }
  }
  .avatar-info {
    text-align: right;
    line-height: 1.2;
  }
  .avatar-type {
    font-size: 0.8rem;
  }
  .avatar-name {
    font-size: 1rem;
    font-weight: 600;
  }
}

.dropdown-menu .user-profile-setting .avatar-info {
  text-align: left;
}

/* Text Logo */
.text-logo {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
}

/* Page Title Section */
.page-title-section {
  background-color: var(--header-bg);
  color: var(--nav);
  padding: 40px 0 100px;
}

.page-title {
  color: var(--nav-active);
  .btn {
    flex: none;
  }
}

// Checkbox
[type="checkbox"],
[type="radio"] {
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border: 1px solid #d1d5db;
  --tw-shadow: 0 0 #0000;
}

[type="checkbox"]:focus,
[type="radio"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary, 0 0 0 0 rgba(0, 0, 0, 0);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: $primary;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

// Toggle
.toggle-checkbox[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(15, 23, 42, 0.1);
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: none;
}

.toggle-checkbox[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: 0.2s;
}

.toggle-checkbox[type="checkbox"]:checked::before {
  transform: translateX(26px);
  background: #fff;
}

.toggle-checkbox[type="checkbox"]:checked {
  background: $primary;
}

// Day-Night Mode
.theme-mode {
  background: none;
  border: none;
  outline: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.theme-icon {
  fill: $primary;
  height: 44px;
  stroke: $primary;
  border: 1px solid #ddd;
  border-radius: 22px;
  padding: 6px;
  box-shadow: 0px 0px 2px #ddd;
}

header .theme-icon {
  border: none;
  box-shadow: none;
  fill: #fff;
  stroke: #fff;
}

// Vikas-Class Define
.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

// Filter Area

.filter-area {
  .filter-wrapper {
    background-color: var(--bs-body-bg);
    // border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  }
}

.filter-wrapper {
  background-color: var(--bs-body-bg);
  // border: 1px solid var(--bs-border-color);
  border-radius: 6px;
  padding: 10px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  position: sticky;
  top: 10px;
}


// Input Fields
.form-label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
}

// Table
.table {
  margin: 0;
  overflow: hidden;
}

.table-responsive {
	text-wrap: nowrap;
	text-wrap: nowrap;
	text-wrap: nowrap;
}

.table tbody tr:last-child td {
	border-bottom: 0;
}

.table > :not(caption) > * > * {
	padding: .9rem .8rem;
}

.table thead th {
  background-color: var(--bs-card-cap-bg);
  font-size: 14px;
  font-weight: 600;
}

.table tbody td {
  font-size: 14px;
  font-weight: 400;
}

.card {
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
	border: 0;
}

// Calendar

.daterangepicker td.in-range {
	background-color: rgba($color: $primary, $alpha: .1);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: $primary;
}

// Suffix
.input-group-symbol {
	max-width: 70px;
	padding-right: 20px;
	padding-left: 0;
}

.vertical-input-group {
  .form-control {
    border-radius: 0;
    margin-bottom: -1px;
    &:first-child {
      border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    }
    &:last-child {
      border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
    }
    &:focus {
      z-index: 9;
      position: relative;
    }
  }

}

.list-group-item-action:hover,
.list-group-item-action:focus {
	background-color: $primary;
	color: #fff;
}

// Multi-Select
.multiselect-dropdown {
	.list-group {
		button {
			// border: 0;
			// border-radius: 0;
		}

		button + button {
			// border-top: 1px solid #ddd;
		}
	}
}

.sec-animation {
  animation: 1s sec infinite;
}

@keyframes sec {
  from {
    transform: translate(-50%, -100%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}

// Pagination

.pagination {
  margin-bottom: 0;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

// Custom Accordion

.custom-accordion-button + svg {
  transition: all .5s;
}

.custom-accordion-button:not(.collapsed) + svg {
  transform: rotate(180deg);
}

// Tab
.tab-button-wrapper {
  background-color: #fff;
  border-radius: 4px;
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: -10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.tab-button-link {
  padding: 11px 35px;
  border-bottom: 4px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  &:not(:last-child) {
    border-right: 1px solid #ddd;
  }

  &.active {
    border-bottom-color: #6366f1;
  }
}







/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
	 background-color: #fff;
	//  border: 1px solid #ddd;
	 box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  }


  .navmenu .dropdown ul li + li {
	border-top: 1px solid #ddd;
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
    color: #111727;
    border-radius: 0;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul .nav-link:hover {
	border-radius: 0;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--color-nav-dropdown-hover);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }

  .navmenu .megamenu {
    position: static;
  }

  .navmenu .megamenu ul {
    margin: 0;
    padding: 10px;
    background: var(--color-nav-dropdown-background);
    box-shadow: 0px 0px 20px rgba(var(--color-default-rgb), 0.1);
    display: block;
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
  }

  .navmenu .megamenu ul li {
    flex: 1;
  }

  .navmenu .megamenu ul li a,
  .navmenu .megamenu ul li:hover>a {
    padding: 10px 20px;
    color: var(--color-nav-dropdown);
  }

  .navmenu .megamenu ul li a:hover,
  .navmenu .megamenu ul li .active,
  .navmenu .megamenu ul li .active:hover {
    color: var(--color-nav-dropdown-hover);
  }

  .navmenu .megamenu:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dd-box-shadow {
    box-shadow: 0px 0px 30px rgba(var(--color-default-rgb), 0.15);
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--color-nav);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--color-nav-mobile-background);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(var(--color-default-rgb), 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--color-nav-dropdown);
    padding: 10px 20px;
    font-family: var(--font-secondary);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: rgba(var(--color-primary-rgb), 0.1);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--color-primary);
    color: var(--color-inverse);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--color-nav-dropdown-hover);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--color-primary);
    color: var(--color-inverse);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul,
  .navmenu .megamenu ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--color-nav-dropdown-background);
    transition: all 0.5s ease-in-out;
    overflow: hidden !important;
  }

  .navmenu .dropdown ul ul,
  .navmenu .megamenu ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active,
  .navmenu .megamenu>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgb(33, 37, 41);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

.page-title-content {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .column-gap-3;
}

.page-title-export-button {
  @extend .text-sm-end;
}