:root {
	--header-bg: #fff;
	--nav: #9ca3af;
	--nav-active: #fff;
	--nav-bg: #1f2937;
	--body-bg: #fafafa;
	--adduser-modal-card: #f8f9fa;
}


[data-bs-theme="dark"] {
	--header-bg: #1f2937;
	--nav: #9ca3af;
	--nav-active: #1f2937;
	--nav-bg: #fff;
	--body-bg: #111827;
	--bs-body-color: #ededed;
	--adduser-modal-card: #39414c;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");


@font-face {
	font-family: Inter var;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/assets/fonts/inter-roman.woff2) format("woff2");
	font-named-instance: Regular
}

@font-face {
	font-family: Inter var;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/assets/fonts/inter-italic.woff2) format("woff2");
	font-named-instance: Italic
}

body {
	// font-family: 'Inter', sans-serif;
	font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	background: var(--body-bg);
}

/*
    1. Header
    2. Nav
	 3. User Profile Setting
    3. Text Logo
    4. Page Title Section
*/

/* Header */
header {
	background-color: var(--header-bg);
	padding: 6px 0;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
	// color: #fff;
	position: sticky;
	top: 0;
	z-index: 9;

	a {
		color: var(--nav-link);
	}

	.header-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
			width: 100%;
		}
	}

	.header-left-area {
		display: flex;
		align-items: center;

		@include media-breakpoint-down(lg) {
			width: 100%;
			justify-content: space-between;
		}

	}

	.header-right-area {
		text-align: right;
		display: none;
	}

	.separator>div:not(:last-child) {
		border-right: 1px solid #ddd;
		padding-right: 15px;
		margin-right: 15px;
	}
}

@media (min-width: 768px) {
	header .header-right-area {
		display: block;
	}
}

/* Nav */
.nav {
	.nav-link {
		color: var(--nav-bg);
		border-radius: 6px;
		padding: 8px 18px;
		font-weight: 500;
		font-size: 14px;
	}

	>ul>li:not(:last-child) {
		margin-right: 6px;
	}

	.nav-link.active {
		background-color: var(--nav-bg);
		color: var(--nav-active);
	}

	.nav-link:hover {
		color: var(--nav-active);
		background-color: var(--nav-bg);
	}
}

// User Profile Setting
.dropdown {
	.dropdown-toggle {
		text-decoration: none;
		display: flex;
		align-items: center;

		&.show,
		&:focus,
		&:hover {
			color: var(--nav-active);
		}
	}

	>.btn {
		>.user-profile-setting {
			padding: 0;
		}
	}
}

.dropdown-menu {
	hr {
		margin: 0.5rem 0;
	}
}

.user-profile-setting {
	display: flex;
	padding: 5px 10px;

	.avatar-thumb {
		padding-right: 10px;

		img {
			width: 40px;
			border-radius: 100%;
		}
	}

	.avatar-info {
		text-align: right;
		line-height: 1.2;
	}

	.avatar-type {
		font-size: 0.8rem;
	}

	.avatar-name {
		font-size: 1rem;
		font-weight: 600;
	}
}

.dropdown-menu .user-profile-setting .avatar-info {
	text-align: left;
}

/* Text Logo */
.text-logo {
	color: var(--bs-table-color-state);
	text-decoration: none;
	font-size: 26px;
}

/* Page Title Section */
.page-title-section {
	// background-color: var(--header-bg);
	color: var(--nav);
	padding: 40px 0 100px;
}

.page-title {
	color: var(--nav-bg);
	.btn {
		flex: none;
	}
}

// Checkbox
[type="checkbox"],
[type="radio"] {
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border: 1px solid #d1d5db;
	--tw-shadow: 0 0 #0000;
}

[type="checkbox"]:focus,
[type="radio"]:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary, 0 0 0 0 rgba(0, 0, 0, 0);
	outline: 2px solid transparent;
	outline-offset: 2px;
}

[type="checkbox"]:checked,
[type="radio"]:checked {
	border-color: transparent;
	background-color: $primary;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

[type="checkbox"]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

// Toggle
.toggle-checkbox[type="checkbox"] {
	position: relative;
	width: 60px;
	height: 30px;
	-webkit-appearance: none;
	appearance: none;
	background: rgba(15, 23, 42, 0.1);
	outline: none;
	border-radius: 2rem;
	cursor: pointer;
	box-shadow: none;
}

.toggle-checkbox[type="checkbox"]::before {
	content: "";
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 2px;
	left: 4px;
	transition: 0.2s;
}

.toggle-checkbox[type="checkbox"]:checked::before {
	transform: translateX(26px);
	background: #fff;
}

.toggle-checkbox[type="checkbox"]:checked {
	background: $primary;
}

// Day-Night Mode
.theme-mode {
	background: none;
	border: none;
	outline: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.theme-icon {
	fill: $primary;
	height: 44px;
	stroke: $primary;
	border: 1px solid #ddd;
	border-radius: 22px;
	padding: 6px;
	box-shadow: 0px 0px 2px #ddd;
	background-color: #f1f5f9;
}

header .theme-icon {
	border: none;
	box-shadow: none;
	fill: #fff;
	stroke: #fff;
}

// Vikas-Class Define
.cursor-pointer {
	cursor: pointer;
}

.hidden {
	display: none;
}

// Filter Area

.filter-area {
	.filter-wrapper {
		background-color: var(--bs-body-bg);
		// border: 1px solid var(--bs-border-color);
		border-radius: 6px;
		padding: 10px 20px 20px 20px;
		// box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
		// box-shadow: 0 0 7px #c7c7c7;
	}
}

.filter-wrapper {
	background-color: var(--bs-body-bg);
	// border: 1px solid var(--bs-border-color);
	border-radius: 6px;
	padding: 10px 20px 20px 20px;
	// box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
	position: sticky;
	top: 110px;
	// box-shadow: 0 0 7px #c7c7c7;
	border: 1px solid var(--bs-border-color-translucent);
}


// Input Fields
.form-label {
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 6px;
}

// Table
.table {
	margin: 0;
	overflow: hidden;
}

.table-responsive {
	text-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-ms-word-wrap: nowrap;
}

.table tbody tr:last-child td {
	border-bottom: 0;
}

.table> :not(caption)>*>* {
	padding: .9rem .8rem;
}

.table thead th {
	background-color: var(--bs-card-cap-bg);
	font-size: 14px;
	font-weight: 600;
}

.table tbody td {
	font-size: 14px;
	font-weight: 400;
}

.card {
	// box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
	// border: 0;
	// box-shadow: 0 0 7px #c7c7c7;
}

// Calendar

.daterangepicker td.in-range {
	background-color: rgba($color: $primary, $alpha: .1);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: $primary;
}

// Suffix
.input-group-symbol {
	max-width: 70px;
	padding-right: 20px;
	padding-left: 0;
}

.vertical-input-group {
	.form-control {
		border-radius: 0;
		margin-bottom: -1px;

		&:first-child {
			border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
		}

		&:last-child {
			border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
		}

		&:focus {
			z-index: 9;
			position: relative;
		}
	}

}

.list-group-item-action:hover,
.list-group-item-action:focus {
	background-color: $primary;
	color: #fff;
}

.sec-animation {
	animation: 1s sec infinite;
}

@keyframes sec {
	from {
		transform: translate(-50%, -100%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -100%) rotate(360deg);
	}
}

// Pagination

.pagination {
	margin-bottom: 0;
}

.pagination-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	flex-wrap: wrap;
	gap: 10px;
}

// Custom Accordion

.custom-accordion-button+svg {
	transition: all .5s;
}

.custom-accordion-button:not(.collapsed)+svg {
	transform: rotate(180deg);
}

// Tab
.tab-button-wrapper {
	background-color: var(--bs-card-bg);
	border-radius: 4px;
	display: inline-flex;
	margin-bottom: 20px;
	margin-top: -10px;
	overflow: hidden;
	border: 1px solid var(--bs-border-color-translucent);
}

.tab-button-link {
	padding: 11px 35px;
	border-bottom: 4px solid var(--bs-border-color-translucent);
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: var(--bs-table-color-state);

	&:not(:last-child) {
		border-right: 1px solid var(--bs-border-color-translucent);
	}

	&.active {
		color: var(--nav-bg);
		border-bottom-color: var(--nav-bg);
	}
}

/* Desktop Navigation */
@media (min-width: 1200px) {
	.navmenu {
		padding: 0;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			align-items: center;
		}
		li {
			position: relative;
		}
		li.has-dropdown:hover > .nav-link {
			color: var(--nav-active);
			background-color: var(--nav-bg);
		}
	}

	.navmenu a,
	.navmenu a:focus {
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		transition: none;
	}

	.navmenu a i,
	.navmenu a:focus i {
		font-size: 12px;
		line-height: 0;
		margin-left: 5px;
		transition: 0.3s;
	}

	.navmenu .dropdown ul {
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		visibility: hidden;
		left: 0;
		top: 130%;
		opacity: 0;
		transition: 0.3s;
		border-radius: 4px;
		z-index: 99;
		background-color: var(--bs-body-bg);
		border: 1px solid var(--bs-border-color-translucent);
	}

	.navmenu .dropdown ul li + li {
		border-top: 1px solid var(--bs-border-color-translucent);
	}

	.navmenu .dropdown ul li {
		min-width: 200px;
	}

	.navmenu .dropdown ul a {
		padding: 10px 20px;
		text-transform: none;
		color: var(--bs-body-color);
		border-radius: 0;
	}

	.navmenu .dropdown ul a i {
		font-size: 12px;
	}

	.navmenu .dropdown:hover>ul {
		opacity: 1;
		top: calc(100% + 5px);
		visibility: visible;
	}

	.navmenu .dropdown .dropdown ul {
		top: 0;
		left: 0;
		visibility: hidden;
	}

	.navmenu .dropdown .dropdown:hover>ul {
		opacity: 1;
		top: 0;
		left: 101%;
		visibility: visible;
	}

	.navmenu .dropdown > .dd-box-shadow {
		z-index: 99;
	}

	.navmenu .dropdown > .dd-box-shadow ul {
		z-index: -1;
	}

	.navmenu .dropdown > .dd-box-shadow > li:hover > .nav-link {
		color: var(--nav-active);
    	background-color: var(--nav-bg);
	}

	.navmenu .megamenu {
		position: static;
	}

	.navmenu .megamenu ul {
		margin: 0;
		padding: 10px;
		background: var(--color-nav-dropdown-background);
		box-shadow: 0px 0px 20px rgba(var(--color-default-rgb), 0.1);
		display: block;
		position: absolute;
		top: 130%;
		left: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		display: flex;
		transition: 0.3s;
		border-radius: 4px;
		z-index: 99;
	}

	.navmenu .megamenu ul li {
		flex: 1;
	}

	.navmenu .megamenu ul li a,
	.navmenu .megamenu ul li:hover>a {
		padding: 10px 20px;
		color: var(--color-nav-dropdown);
	}

	.navmenu .megamenu ul li a:hover,
	.navmenu .megamenu ul li .active,
	.navmenu .megamenu ul li .active:hover {
		color: var(--color-nav-dropdown-hover);
	}

	.navmenu .megamenu:hover>ul {
		opacity: 1;
		top: 100%;
		visibility: visible;
	}

	.navmenu .dd-box-shadow {
		box-shadow: 0 0 30px rgba(var(--color-default-rgb), .15);
		li:first-child > a {
			border-radius: 4px 4px 0 0;
		}
		li:last-child > a {
			border-radius: 0 0 4px 4px;
		}
	}
}

/* Mobile Navigation */
@media (max-width: 1199px) {
	.mobile-nav-toggle {
		color: var(--color-nav);
		font-size: 28px;
		line-height: 0;
		margin-right: 10px;
		cursor: pointer;
		transition: color 0.3s;
	}

	.navmenu {
		padding: 0;
		z-index: 9997;
	}

	.navmenu ul {
		display: none;
		position: absolute;
		inset: 60px 20px 20px 20px;
		padding: 10px 0;
		margin: 0;
		border-radius: 6px;
		background-color: var(--color-nav-mobile-background);
		overflow-y: auto;
		transition: 0.3s;
		z-index: 9998;
		box-shadow: 0px 0px 30px rgba(var(--color-default-rgb), 0.1);
	}

	.navmenu a,
	.navmenu a:focus {
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		transition: 0.3s;
	}

	.navmenu a i,
	.navmenu a:focus i {
		font-size: 12px;
		line-height: 0;
		margin-left: 5px;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: 0.3s;
		background-color: rgba(var(--color-primary-rgb), 0.1);
	}

	.navmenu a i:hover,
	.navmenu a:focus i:hover {
		background-color: var(--color-primary);
		color: var(--color-inverse);
	}

	.navmenu .active i,
	.navmenu .active:focus i {
		background-color: var(--color-primary);
		color: var(--color-inverse);
		transform: rotate(180deg);
	}

	.navmenu .dropdown ul,
	.navmenu .megamenu ul {
		position: static;
		display: none;
		z-index: 99;
		padding: 10px 0;
		margin: 10px 20px;
		background-color: var(--color-nav-dropdown-background);
		transition: all 0.5s ease-in-out;
		overflow: hidden !important;
	}

	.navmenu .dropdown>.dropdown-active,
	.navmenu .megamenu>.dropdown-active {
		display: block;
	}

	.mobile-nav-active {
		overflow: hidden;
	}

	.mobile-nav-active .mobile-nav-toggle {
		// color: #fff;
		position: absolute;
		font-size: 32px;
		top: 15px;
		right: 15px;
		margin-right: 0;
		z-index: 9999;
	}

	.mobile-nav-active .navmenu {
		position: fixed;
		overflow: hidden;
		inset: 0;
		background: var(--bs-body-bg);
		transition: 0.3s;
	}

	.mobile-nav-active .navmenu>ul {
		display: block;
	}
}

.page-title-content {
	@extend .d-flex;
	@extend .align-items-center;
	@extend .column-gap-3;
}

.page-title-export-button {
	@extend .text-sm-end;
}

@media (min-width: 768px) {
	.page-title-section .page-title-left-area {
		width: 70%;
	}

	.page-title-section .page-title-right-area {
		width: 30%;
	}
}

.page-title-content .page-title+a {
	flex: none;
}

.patient-enrollment-summary .row>* {
	padding-right: 30px;
	padding-left: 30px;
}

.patient-enrollment-summary .row>*:first-child {
	padding-left: 12px;
}

.patient-enrollment-summary .row>*:last-child {
	padding-right: 12px;
}

.patient-enrollment-summary .row>*:not(:last-child) {
	border-right: 1px solid var(--bs-border-color);
}

@media (max-width: 575px) {
	.patient-enrollment-summary .row>*:not(:last-child) {
		border-right: 0;
	}

	.patient-enrollment-summary .row>* {
		padding-right: 12px;
		padding-left: 12px;
	}
}

/* Start Stats */
.stats-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		display: flex;
		align-items: center;
		column-gap: 10px;
		line-height: 1.4;
	}

	a.previous {
		text-align: left;
	}

	a.next {
		text-align: right;
	}

	.report-display {
		margin: 0 15px;
		text-align: center;
	}
}

.stat {
	border: 2px solid var(--bs-border-color);
	padding: 30px;

	&:not(:first-child) {
		margin-top: -2px;
	}

	&:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	&:last-child {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.stat-header {
		display: flex;
		flex-wrap: wrap;
		column-gap: 15px;
		row-gap: 5px;
		justify-content: space-between;
		align-items: center;

		.title {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			span {
				flex: none;
				margin-right: 15px;
			}
		}

		.stat-status {
			background-color: #02cc99;
			color: #fff;
			padding: 3px 15px;
			border-radius: 20px;
		}
	}

	.stat-lines {
		max-width: 100%;
		display: flex;
		margin: 10px 0;

		// overflow-x: auto;
		// overflow-y: clip;
		span {
			height: 50px;
			width: 8px;
			background-color: #02cc99;
			display: inline-block;
			margin: 0 3px;
			flex: none;
			transition: all .1s ease;
			position: relative;

			.custom-tooltip {
				position: absolute;
				bottom: 55px;
				left: 50%;
				transform: translateX(-50%);
				color: var(--bs-white);
				background-color: #191919;
				border-radius: 5px;
				min-width: 200px;
				font-size: 12px;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				--tw-scale-x: .5;
				--tw-scale-y: .5;
				transition: all .3s ease;

				&__inner {
					padding: 10px;
					position: relative;
				}

				&__inner:after {
					content: "";
					border-style: solid;
					border-width: 6px 6px 6px 6px;
					border-color: #191919 transparent transparent transparent;
					bottom: -12px;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}

				p {
					margin-bottom: 5px;
				}

				p:last-child {
					margin-bottom: 0;
				}
			}

			.custom-tooltip__bottom {
				top: 55px;
				bottom: auto;

				.custom-tooltip__inner:after {
					border-width: 6px 6px 6px 6px;
					border-color: transparent transparent #191919 transparent;
					top: -12px;
					bottom: auto;
				}
			}

			&:hover {
				background-color: #04fcbd;
				box-shadow: 0px 0px 5px #04fcbd;

				.custom-tooltip {
					opacity: 1;
					visibility: visible;
					--tw-scale-x: 1;
					--tw-scale-y: 1;
				}
			}

			&.stat-lite-green {
				background-color: #b6d870;

				&:hover {
					background-color: #d0f782;
					box-shadow: 0px 0px 5px #d0f782;
				}
			}

			&.stat-yellow {
				background-color: #f7ce56;

				&:hover {
					background-color: #fabc04;
					box-shadow: 0px 0px 5px #fabc04;
				}
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.stat-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.divider {
			height: 2px;
			display: block;
			background-color: var(--bs-border-color);
			flex: none;
			flex-grow: 1;
			margin: 0 30px;
		}

		.uptime {
			flex: none;
		}
	}
}

@media (max-width: 991px) {
	.stats-navigation {
		flex-direction: column;

		a.previous,
		a.next {
			text-align: center;
		}

		.report-display {
			margin: 10px 0;
		}
	}
}

/* End Stats */
.sort-th {
	cursor: pointer;
}

.sort-dsc .sort-icon {
	transform: rotate(180deg);
	color: #000;
}

.sort-icon {
	height: 15px;
	color: #898989;
}

// Multi Select
.multi-select-filter {
	max-height: 500px;
	overflow: auto;
	margin-top: 5px;

	.multi-select-lists {
		position: relative;
	}

	.multi-select-search-wrapper {
		display: flex;
		padding: 8px 8px 4px;
		.select-all-checkbox {
			font-size: 14px;
			font-weight: bold;
			cursor: pointer;
		}
	}

	.multi-select-search {
		display: flex;
		position: relative;
		padding: 2px 8px 12px;
		border-bottom: 1px solid #ddd;
		i {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0, -50%);
		}
	}

	.multi-select-item {
		border: none;
		background: none;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 8px 10px;
		text-align: left;
		font-size: 14px;
		+ .multi-select-item {
			border-top: 1px solid #ddd;
		}
	}

}

.clock-time {
	font-size: 14px;
	font-weight: 500;
}

.table-header {
	background-color: var(--bs-card-cap-bg);
	padding: 10px;
	text-align: right;
	border-bottom: 1px solid var(--bs-border-color);
}

.add-filters {
	border: none;
	box-shadow: none;
	padding: 0 5px;
	svg {
		width: 25px;
	}
}

.download-report {
	border: none;
	box-shadow: none;
	padding: 0 5px;
	svg {
		width: 25px;
	}
}

.checkbox-toggle-button .btn {
	border: none;
	box-shadow: none;
	outline: none;
}

.btn-link {
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	padding: 0 5px;
}

.btn-link.dropdown-toggle:hover,
.btn-link.dropdown-toggle.show {
	color: inherit;
}

.adduser-modal-card {
	background-color: var(--adduser-modal-card);
}

/* Start Customer Details & Transactions */
[class*="badge-"] {
	border-radius: 20px;
	letter-spacing: .3px;
	padding: 5px 10px 3px;
}
.badge-success {
	background-color: #02cc99;
}
.badge-warning {
	--bs-text-opacity: 1;
	background-color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity));
}
/* End Customer Details & Transactions */


// Customer Details

.customer-details {
	@extend .d-flex;
	@extend .align-items-start;
	@extend .my-2;	  
}

.customer-label-svg svg {
	@extend .me-2;
	width: 30px;
}

.customer-label {
	@extend .h6;
	@extend .fw-normal;
	color: #958f8f;
	margin-bottom: 2px;
	svg {
		width: 25px;
	}	
}

.customer-label-value {
	@extend .h4;
	@extend .m-0;
}

.customer-card {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	> div {
		display: flex;
		gap: 15px;
		align-items: center;
	}
	&__icon {
		font-size: 20px;
		width: 55px;
		height: 55px;
		line-height: 55px;
		text-align: center;
		color: var(--bs-body-color);
		background-color: var(--bs-card-cap-bg);
		border-radius: 8px;
		flex: none;
	}
	.badge {
		flex: none;
	}
}